<div class="container about">
  <img class="img-fluid" src="/assets/images/about.jpg" alt="Grooming">
  <h2>What is mode code?</h2>
  <p>This app is made for anyone who has packed summer dresses for a trip to Berlin in the winter, been confused by the difference between casual and smart-casual (do we wear glasses?) or decided to break out new leather shoes the day it starts raining!</p><br>

  <p>Using the <span>Shopstyle API</span> and <span>Darksky API</span>, Mode Code offers the latest weather updates and shopping opportunities in major cities. Share your outfits with the Mode Code community and check out our Dress Code 101 guide for the best outfit planning. It's easy to access, login with <span>Instagram</span> or <span>Github</span>, or quickly register with us.</p><br>
  <a href="/register"><p class="styling">Start styling!</p></a>
  <hr>
</div>
