<div class="container about">
  <img class="img-fluid" src="/assets/images/about.jpg" alt="Grooming">
  <h2>What is mode code?</h2>
  <p>This website was created to help get dressed for any city, weather, or occassion. Features include the Dark Sky API, Shopstyle API, and Github oauth.</p>
  <hr>
</div>
