<div class="container about">
  <h1>What is mode code?</h1>
  <img class="img-fluid" src="/assets/images/about.jpg" alt="Grooming">
  <p>This website was created to help get dressed for any city, weather, or occassion. Features include the Dark Sky API, Dress Code Finder API, and Github oauth.</p>
</div>
