<div class="container dressCode">

<div class="containerContent">
  <img class="img-fluid" src="/assets/images/casual.jpg">
  <h2 class="casual">Casual</h2>
  <p>The easiest dress code to follow, casual dress code allows for anything. </p><br>
  <p>"Anything goes in this case, including jeans and sneakers, and this dress code usually means you’ll be uncomfortable in anything too dressy."</p>
  <hr>
</div>


<div class="containerContent">
  <img class="img-fluid" src="/assets/images/smart-casual.jpg">
  <h2 class="smart">Smart Casual</h2>
  <p>Sa.</p><br>
  <p>"This dress code calls for a just slightly dressier version of your most casual look."</p>
  <hr>
</div>


<div class="containerContent">
  <img class="img-fluid" src="/assets/images/business.jpg">
  <h2 class="business">Business</h2>
<p>Time to bust out the pumps and oxfords with your best pant suit! Business attire can range from casual to formal business wear, but all have the same core pieces. Suit pants, nice skirts, blouses, shirts, and closed toe shoes (excluding sneakers) are all acceptable. Items like jeans, sandals, short clothing or tees are not allowed for business-casual venues.</p><br>
<p>"The idea is to wear something business appropriate that also feels dressed-up."</p>
  <hr>
</div>


<div class="containerContent">
  <img class="img-fluid" src="/assets/images/formal.jpg">
  <h2 class="formal">Formal</h2>
  <p>Most people aren't required to dress formally during the week, but once in awhile you may be required to glam up. Formal wear can range in price and fanciness depending on the event. As a rule, women are expected to wear gowns or dresses with pumps or evening shoes. Men are required to wear suits and dress shoes. Cities like London and New York have the largest amount of venues requiring formal wear.</p><br>
  <p>"You aren’t expected to look as if you’re en route the Oscars, but you should still make an effort with formal attire.""</p>
  <hr>
</div>
</div>
