<div class="container dressCode">
<h1>Dress Code 101</h1>
<div class="container">
  <h4>Casual</h4>
  <img class="img-fluid" src="/assets/images/casual.jpg">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet ligula sit amet ante gravida hendrerit. Cras in nunc ut lacus semper egestas. Curabitur fermentum est mauris, et consectetur sem vestibulum eget. Praesent laoreet vehicula lacus eu imperdiet. Nam blandit libero mattis, ornare purus et, consectetur lacus. Integer luctus magna mi, in tincidunt metus cursus nec. Nulla facilisi. Sed consequat dapibus purus at pretium. Nullam id arcu id tortor ultricies consequat. Nunc vitae neque nec metus commodo consequat.</p>
</div>

<div class="container">
  <h4>Smart Casual</h4>
  <img class="img-fluid" src="/assets/images/smart-casual.jpg">
  <p>Ut sed feugiat lectus, et pharetra velit. Duis interdum sollicitudin orci in mattis. Quisque non tellus tellus. Nam quis eleifend nibh, vitae varius ligula. Fusce erat lacus, semper quis turpis vel, porttitor posuere ex. Donec vestibulum velit sit amet nibh blandit, ut malesuada purus efficitur. Duis ultrices nibh quis volutpat scelerisque. Donec sodales vulputate nunc cursus consectetur. Duis laoreet pharetra eros in ullamcorper.</p>
</div>

<div class="container">
  <h4>Business</h4>
  <img class="img-fluid" src="/assets/images/business.jpg">
  <p>Donec lorem augue, luctus imperdiet diam nec, eleifend pulvinar arcu. Vivamus eu nisi sit amet leo congue eleifend. Pellentesque sed magna non metus congue aliquet. Nunc malesuada rhoncus ex at pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean tempus odio ut pharetra porta. Praesent sollicitudin tempor magna, quis imperdiet purus dignissim eu. Suspendisse id orci ipsum. Vestibulum porttitor enim nibh, sit amet congue tellus elementum eu. Proin malesuada dolor quis nunc ultrices, non congue purus suscipit.</p>
</div>

<div class="container">
  <h4>Formal</h4>
  <img class="img-fluid" src="/assets/images/formal.jpg">
  <p>Pellentesque vehicula fringilla felis, ut iaculis risus fringilla ac. Fusce facilisis nisi eleifend odio consectetur, non efficitur neque aliquet. Quisque posuere at turpis in scelerisque. Quisque id vulputate justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce molestie tellus fringilla purus accumsan pharetra. Aliquam condimentum congue sem, sed lobortis ligula varius id. Praesent faucibus vel tortor sagittis aliquet. Pellentesque ac ligula quis est blandit laoreet at vitae libero. Integer lectus ipsum, rutrum sed consequat sit amet, placerat non dolor. Nulla non ligula scelerisque, dignissim lorem sed, dignissim mauris. Etiam dapibus condimentum sem id laoreet.</p>
</div>
</div>
