<div class="container postsEdit">
  <form method="POST" action="/posts/<%=  post.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <label for="caption">Caption:</label><br>
      <input type="text" name="caption" id="caption" value="<%= post.caption %>" required>
    </div>

    <button class="btn">Update Post</button>
  </form>
</div>
