<div class="container postsIndex">

  <% if(posts.length === 0) {%>
    <p><span class="fa fa-frown-o" aria-hidden="true"></span> No posts yet!</p>
  <% } else { %>

<div class="container">
  <div class="row">
    <% posts.forEach((post) => { %>
      <div class="col-md-6 col-lg-4">
          <a href="/posts/<%= post.id %>"><img src="<%= post.imageSRC %>"></a>
          <h3><%= post.caption %></h3>
          </a>
          <h4>Created By: <%= post.createdBy.username %></h4>
      </div>
          <% }) %>
    </div>
<% } %>

<a href="/posts/new"><button class="btn">New</button></a>


</div>
