<div class="container postsPost">
  <form method="POST" action="/posts" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name</label>
      <p class="control">
      <input type="text" name="name" id="name" required>
    </div>
    <div class="form-group">
      <label for="caption">Caption</label>
      <p class="control">
      <input type="caption" name="caption" id="caption" min="1" max="5" required>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <p class="control">
      <input type="file" name="image" id="image" required>
    </div>
    <button class="btn">Post</button>
  </form>
</div>
