
@import "bootstrap/bootstrap";

@font-face {
  font-family: 'f37_bella';
  src: url('../assets/fonts/f37bella-regular-webfont.eot');
  src: url('../assets/fonts/f37bella-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/f37bella-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/f37bella-regular-webfont.woff') format('woff'),
       url('../assets/fonts/f37bella-regular-webfont.ttf') format('truetype'),
       url('../assets/fonts/f37bella-regular-webfont.svg#f37_bellaregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

* {
  font-family: 'Karla', sans-serif;
}

.logo {
  text-align: center;
  color: black;
  margin: 40px auto;
  font-family: 'f37_bella';
  letter-spacing: 2px;
  font-weight: bold;
}

p {
  font-size: 20px;
}


.navbar-toggleable-md {
  button {
    background-color: white;
  }
  h1 {
    color: black;
    margin-bottom: 60px;

  }

  ul{
    z-index: 1;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    li {
      a{
        color: black;
      }
    }
  }
}

.fixed-bottom {
  text-align: center;
  ul {
    margin: 5px auto;
  }
  li {
    list-style: none;
    display: inline-block;
  }
  a {
    color: white;
  }
}

main {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 180px;
}

.jumbotron {
  background-image: url("/assets/images/jumbotron.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.about {
  img {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  h2 {
  margin: 30px auto;
  font-family: 'f37_bella', sans-serif;
  letter-spacing: 1px;
  }
  p {
    width: 95%;
    margin: 5px auto;
    line-height: 40px;
  }
  .styling {
    color: black;
    font-size: 24px;
    font-family: 'f37_bella', sans-serif;
  }
  span {
    font-weight: 700;
  }
}

.dressCode {
  .containerContent {
    position: relative;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'f37_bella', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  img {
    border-radius: 10px;;
    margin-bottom: 30px;
    filter: brightness(80%);
  }
  p {
    width: 95%;
    margin: 5px auto;
    line-height: 40px;
  }
  .container {
    margin: 20px auto;
  }
}

.register {
  h1 {
    margin-bottom: 30px;
  }
  .btn {
    background-color: rgb(211, 74, 181);
    border-color: rgb(211, 74, 181);
  }
  .input {
    width: 300px;
  }
}

.login {
  width: 50%;
  h1 {
    margin-bottom: 30px;
  }
  .input {
    width: 300px;
  }
  .btn {
    background-color: rgb(211, 74, 181);
    border-color: rgb(211, 74, 181);
  }
  a {
    margin: 10px auto;
  }
  .instagram {
    border-style: solid;
    border-color: rgb(65, 36, 213);
    background-color: rgb(65, 36, 213);
    color: white;
  }
  .github {
    width: 219px;
    border-style: solid;
    border-color: rgb(60, 56, 60);
    background-color: rgb(60, 56, 60);
    color: white;
  }
}

.user {
  margin: 30px auto;
  img{
    border-radius: 20px;
    margin: 30px auto;
  }
  a {
    border: solid blue;
    background-color: blue;
    color: white;
  }
  h1 {
    margin-bottom: 25px;
  }
  .deleteAccount {
    color: white;
    height: 42px;
    background-color: rgb(197, 37, 37);
  }
}

.btnNew {
  color: white;
  background-color: rgb(211, 74, 181);
}

.userEdit {
  h1 {
    margin-bottom: 30px;
  }
  .btn {
    background-color: rgb(211, 74, 181);
    border-color: rgb(211, 74, 181);
    color: white;
  }
}

.locations {
  margin-top: 10px;
  img {
  border-radius: 10px;
  margin-bottom: 15px;
  }
  ul {
    list-style: none;
  }
  .col-lg-4 {
    margin: 20px auto;
  }
}

.citiesShow {
  text-align: left;
  margin: 30px auto;
  .info {
    margin: 50px auto;
  }
  img {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .title {
    font-family: 'f37_bella', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .posts{
    color: rgb(211, 74, 181);
    display: block;
  }
  .postsText {
    border-style: solid;
    text-align: center;
  }
  .getShopping {
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h5 {
    text-align: center;
    color: rgb(211, 74, 181);
    text-transform: uppercase;
    font-weight: bold;
  }
  .btn {
    color: white;
    background-color: rgb(211, 74, 181);
    width: 150px;
    margin-top: 30px;
  }
  .button {
    text-align: center;
  }
}

.product {
  width: 45%;
  text-align: center;
  margin: 30px auto;
  display: inline-block;
  .brandName {
    text-align: center;
  }
  .imageSizing {
    height: 100%;
    width: 100%;
  }
  h5 {

    margin: 10px auto;
    color: black;
    text-transform: none;
    font-weight: normal;
  }
  img {
    object-fit: cover;
    width: 190px;
    height: 300px;
  }
}

.citiesNew {
  width: 50%;
  .btn {
    color: white;
    background-color: rgb(211, 74, 181);
    border-color: rgb(211, 74, 181);
  }
}

.citiesEdit {
  width: 50%;
  .btn {
    color: white;
    background-color: rgb(211, 74, 181);
    border-color: rgb(211, 74, 181);
  }
}


.postsIndex {
  margin: 30px auto;
  img {
    height: 310px;
    width: 210px;
  }
  button {
    color: white;
    background-color: rgb(211, 74, 181);
    margin: 30px auto;
  }
}

.postsEdit {
  .btn {
    color: white;
    background-color: rgb(211, 74, 181);
  }
  label {
    font-size: 20px;
    font-weight: bold;
  }
  input {
    height: 30px;
    width: 250px;
  }
  div {
    margin: 20px auto;
  }
}

.postsShow {
  img {
    object-fit: cover;
    height: 400px;
    width: 200px;
    margin-bottom: 30px;
  }
  .info {
    font-family: 'f37_bella', sans-serif;
  }

}

.currentUserActions {
  button{
  background-color: rgb(211, 74, 181);
  border: none;
  width: 100px;
  color: white;
  font-family: 'Karla';
  margin-bottom: 20px;
  }
  a {
    background-color: rgb(211, 74, 181);
    border: none;
    width: 100px;
    color: white;
    font-family: 'Karla';
  }
}

.userComments {
  button {
  background-color: rgb(211, 74, 181);
  border: none;
  width: 100px;
  color: white;
  font-family: 'Karla';
  }
}

.postsNew {
  text-align: center;
  .btn {
    color: white;
    background-color: rgb(211, 74, 181);
  }
  input {
    width: 300px;
  }
  .form-group {
    margin: 20px auto;
  }
}







@media (min-width: 768px) {
    .navbar-nav {
        margin: 0px auto;
    }
}
